<head>
    <title></title>
    <meta charset='utf-8'>
    <meta content='width=device-width,initial-scale=1,shrink-to-fit=no' name='viewport'>
 </head>
 <body>
    <div> hosts EventFlux.js </div>
 </body>