<head>
    <title></title>
    <meta charset='utf-8'>
    <meta content='width=device-width,initial-scale=1,shrink-to-fit=no' name='viewport'>
    <script src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js'></script><script src='https://cdn.jsdelivr.net/npm/qunit@2.9.2/qunit/qunit.min.js'></script>
    <link href='https://cdn.jsdelivr.net/npm/qunit@2.9.2/qunit/qunit.min.css' rel='stylesheet'>
    <style>html{touch-action:manipulation}.delayShowing{opacity:0}.blur{-webkit-filter:blur(2px);filter:blur(2px)}</style>
 </head>
 <body>
    <div id='qunit'></div>
    <div id='qunit-fixture'></div>
    <script src='tests.js' type='module'></script><!-- mB v8.2.6 on 2020-02-29T20:03:43.924Z -->
 </body>